%div.main-contents__member1
  %div.main-contents__member-name1
    test-user
  %div.main-contents__time1
    2019/02/13(Wed) 17:50:36
%div.main-contents__member-comment1
  こんにちは！
%div.main-contents__member2
  %div.main-contents__member-name2
    test-user
  %div.main-contents__time2
    2019/02/13(Wed) 17:50:50
%div.main-contents__member-comment2
  さようなら！