.chat
  .header
    .left-header
      .left-header__title
      .left-header__members
    .right-header
      .right-header__button
  .messages
    .message
      .upper-message
        .upper-message__user-name
        .upper-message__date
      .lower-message
        .lower-message__content
  .form
    .form__message
      type a message
    %label.form__mask{for: "upload-icon"}
      %input.form__mask__image{type: "file", id: "upload-icon"}
        %i.fa.fa-picture-o
    .form__submit
      Send