%div.main-contents__group-name1 
  test-group
%div.main-contents__last-comment1
  さようなら！
%div.main-contents__group-name2 
  sample-group
%div.main-contents__last-comment2
  hello!
%div.main-contents__group-name3 
  example
%div.main-contents__last-comment3
  まだメッセージがありません