//$color1: #FFF;
//$color2: #FFFFFF;
//$color3: #38aef0;
//$color4: #253141;
//$color5: #434A54;
//$color6: #999999;

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;


