.main-contents {
  height: calc(100vh - 100px);
  width: 100vw;
  &__left {
    position: relative;
    float: left;
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
  }
  &__left-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
  }

  @mixin group-name {
    font-size: 15px;
    font-weight: bold;
    color: $color2;
  }
  @mixin last-comment {
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 11px;
    font-weight: bold;
    color: $color2;
  }
  &__group-name1 {
    @include group-name;
  }
  &__last-comment1 {
    @include last-comment;
  }
  &__group-name2 {
    @include group-name;
  }
  &__last-comment2 {
    @include last-comment;
  }
  &__group-name3 {
    @include group-name;
  }
  &__last-comment3 {
    @include last-comment;
  }

  &__right {
    position: relative;
    float: right;
    height: calc(100vh - 100px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
  }
  &__right-wrapper {
    position: absolute;
    top: 46px;
    left: 40px;
    width: calc(100vw - 380px);
  }

  @mixin member {
    float: left;
    padding-bottom: 10px;
    width: calc(100vw - 380px);
  }
  @mixin member-name {
    float: left;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: $color5;
  }
  @mixin time {
    float: left;
    font-size: 12px;
    color: $color6;
  }
  @mixin member-comment {
    padding-bottom: 40px;
    font-size: 14px;
    color: $color5;
  }
  &__member1 {
    @include member;
  }
  &__member-name1 {
    @include member-name;
  }
  &__time1 {
    @include time;
  }
  &__member-comment1 {
    @include member-comment;
  }
  &__member2 {
    @include member;
  }
  &__member-name2 {
    @include member-name;
  }
  &__time2 {
    @include time;
  }
  &__member-comment2 {
    @include member-comment;
  }
  
  &__bottom {
    position: relative;
    top: calc(100vh - 190px);
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #ddd;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: calc(100vw - 380px);
  }
  &__message {
    position: relative;
    float: left;
    height: 50px;
    width: calc(100vw - 495.344px);
    background-color: $color1;
  }
  &__text1 {
    float: left;
    padding-left: 10px;
    line-height: 50px;
    font-size: 16px;
    color: $color5;
  }
  &__upload-label {
    cursor: pointer;
  }
  &__upload-input {
    display: none;
  }
  .fa.fa-picture-o {
    position: absolute;
    right: 10px;
    line-height: 50px;
    font-size: 20.8px;
  }
  &__send-button {
    float: left;
    margin-left: 15px;
    height: 50px;
    background-color: $color3;
  }
  &__text2 {
    line-height: 50px;
    text-align: center;
    color: $color1;
    padding: 0 30px;
  }
}