.top-contents {
  height: 100px;
  width: 100vw;
  position: relative;
  background-color: $color4;
  &__text1 {
    position: absolute;
    left: 20px;
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: $color2;
  }
  &__fontawesome {
    position: absolute;
    line-height: 100px;
    color: $color2;
    right: calc(100vw - 280px);
  }
  .fa.fa-edit {
    color: $color1;
  }
  .fa.fa-cog {
    color: $color1;
  }
  &__right {
    position: relative;
    left: 300px;
    height: 99px;
    width: calc(100vw - 300px);
    background-color: $color1;
    border-bottom: solid #eeeeee;
    border-bottom-width: 1px;
  }
  &__group {
    padding: 35px 0 0 40px;
  }
  &__text2 {
    font-size: 20px;
    color: #333333;
  }
  &__text3 {
    padding-top: 15px;
    left: 40px;
    font-size: 12px;
    color: $color6;
  }
  &__edit-button {
    position: absolute;
    height: 40px;
    top: 28px;
    right: 40px;
    line-height: 40px;
    text-align: center;
    color: $color3;
    border: solid thin $color3;
    padding: 0 20px;
  }
}